<form class="text-center">
  <div class="form-group">
    <input [(ngModel)]="registerUserData.login" type="text" name="login" class="form-control" placeholder="Login">
  </div>
  <div class="form-group">
    <input [(ngModel)]="registerUserData.email" type="text" name="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <input [(ngModel)]="registerUserData.password" type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <input [(ngModel)]="registerUserData.confirmPassword" type="password" name="confirmPassword" class="form-control" placeholder="Confirm password">
  </div>
  <div class="form-group">
    <button (click)="registerUser()" class="btn btn-primary">Sign Up</button>
  </div>
  <div class="form-group">
    <p>Have an account? <a routerLink="/login" routerLinkActive="active">Log in</a></p>
  </div>
</form>
